{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='userform.css') }}">
{% endblock %}
{% block content %}
    <div class="form-container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label() }}<br>

                {% if form.username.errors %}
                    {{ form.username(class="userform-input") }}
                    <div >
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="userform-input") }}<br>
                {% endif %}
            </div>
            <div>
                {{ form.email.label() }}<br>
                {% if form.email.errors %}
                    {{ form.email(class="userform-input") }}
                    <div >
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="userform-input") }}
                {% endif %}
            </div>
            <div>
                {{ form.submit(class="submit-btn") }}
            </div>
        </form>
    </div>
{% endblock content %}