<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
  {% if title %}
  <title>Imdbflix - {{ title }}</title>
  {% elif search_query %}
  <title>Imdbflix - {{ search_query }}</title>
  {% else %}
  <title>Imdbflix</title>
  {% endif %}
  {% block head %}{% endblock %}
</head>

<body>
  <header>
    <nav>
      <div class="left-nav">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
        <div class="search-container">
          <form class="search-form" method="GET" action="{{ url_for('search' ) }}">
            <input type="text" name="q" class="search-input" placeholder="Search.." >
            <button type="submit" class="search-button">
              <span class="material-symbols-outlined">
                search
              </span>
            </button>
          </form>
        </div>
        <div class="filter-container nav-link">
          Filter
          <span class="material-symbols-outlined" id="filter-icon">
            expand_more
          </span>
        </div>
      </div>
      <div class="right-nav">
        {% if current_user.is_authenticated %}
        <a class="nav-link" href="{{ url_for('account') }}">{{ current_user.username }}</a>
        <a class="button-link" href="{{ url_for('logout') }}">Log out</a>
        {% else %}
        <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        <a class="button-link" href="{{ url_for('register') }}">Register</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <main>
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </main>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>